workflow/main.json
{
  "name": "Roibase Blog — Main Pipeline (TR + 6 lang + GitHub commit)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1,9,17 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (every 8h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/samet-roibase/roibase-blog/main/scripts/category-rotation.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "qs": {
            "_": "={{ Date.now() }}"
          },
          "timeout": 30000
        }
      },
      "id": "fetch-rotation",
      "name": "Fetch rotation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst data = (raw && raw.data && typeof raw.data === 'string')\n  ? JSON.parse(raw.data)\n  : (typeof raw === 'string' ? JSON.parse(raw) : raw);\nconst nextIndex = (data.lastIndex + 1) % data.order.length;\nconst category = data.order[nextIndex];\nreturn [{ json: { category, nextIndex, rotation: data } }];"
      },
      "id": "pick-category",
      "name": "Pick Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/samet-roibase/roibase-blog/main/scripts/topic-pool/{{ $json.category }}.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "qs": {
            "_": "={{ Date.now() }}"
          },
          "timeout": 30000
        }
      },
      "id": "fetch-topic-pool",
      "name": "Fetch topic pool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst pool = (raw && raw.data && typeof raw.data === 'string')\n  ? JSON.parse(raw.data)\n  : (typeof raw === 'string' ? JSON.parse(raw) : raw);\nconst cat = $('Pick Category').item.json.category;\n\nlet candidates = pool.topics.filter(t => !t.lastUsedAt);\nif (candidates.length === 0) {\n  candidates = [...pool.topics].sort((a, b) =>\n    new Date(a.lastUsedAt) - new Date(b.lastUsedAt)\n  );\n}\nconst topic = candidates[0];\n\nconst today = new Date().toISOString().slice(0, 10);\nconst ymonth = today.slice(0, 7);\nconst topicStub = topic.id;\nconst i18nKey = `${cat}-${topicStub.replace(/^[a-z]+-/, '')}-${ymonth}`;\n\nreturn [{ json: { topic, category: cat, today, i18nKey } }];"
      },
      "id": "pick-topic",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/samet-roibase/roibase-blog/main/prompts/master-tr.md",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-master-prompt",
      "name": "Fetch master prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/samet-roibase/roibase-blog/main/prompts/categories/{{ $('Pick Topic').item.json.category }}.md",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-category-prompt",
      "name": "Fetch category prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/samet-roibase/roibase-blog/main/scripts/internal-links.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-internal-links",
      "name": "Fetch internal links",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "function unwrap(raw) {\n  if (raw && raw.data !== undefined) return raw.data;\n  return raw;\n}\nfunction toText(v) { return typeof v === 'string' ? v : JSON.stringify(v); }\nfunction toObj(v) {\n  if (typeof v === 'string') { try { return JSON.parse(v); } catch { return {}; } }\n  return v;\n}\n\nconst masterText = toText(unwrap($('Fetch master prompt').first().json));\nconst categoryText = toText(unwrap($('Fetch category prompt').first().json));\nconst links = toObj(unwrap($('Fetch internal links').first().json));\nconst topicData = $('Pick Topic').first().json;\n\nconst categorySlugs = (links.byCategory && links.byCategory[topicData.category]) || [];\nconst internalLinks = categorySlugs.map(slug => {\n  const svc = (links.services || []).find(s => s.slug === slug);\n  return { slug, label: svc?.label || slug, url: `https://www.roibase.com.tr/tr/${slug}` };\n});\n\nconst userPrompt = [\n  `TOPIC_TITLE: ${topicData.topic.title}`,\n  `TOPIC_ANGLE: ${topicData.topic.angle}`,\n  `CATEGORY: ${topicData.category}`,\n  `TODAY: ${topicData.today}`,\n  `I18N_KEY: ${topicData.i18nKey}`,\n  `INTERNAL_LINKS: ${JSON.stringify(internalLinks)}`,\n  '',\n  '--- KATEGORI YONERGESI ---',\n  categoryText\n].join('\\n');\n\nreturn [{ json: { system: masterText, user: userPrompt, topicData } }];"
      },
      "id": "build-prompt",
      "name": "Build Claude prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 8192,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.user) }}\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "claude-tr",
      "name": "Claude — TR master",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst resp = (raw && raw.data && typeof raw.data === 'object') ? raw.data : raw;\nconst rawText = resp.content?.[0]?.text || JSON.stringify(resp);\nconst topicData = $('Build Claude prompt').first().json.topicData;\n\n// Defensive cleaning: Claude bazen markdown code fence ile sarar veya\n// frontmatter'dan önce 'İşte makale:' gibi giriş cümlesi ekler. Aşağıdaki\n// adımlar bunları temizleyip frontmatter regex'inin tutmasını sağlar.\nlet text = rawText;\n// 1) Markdown code fence (```markdown veya ```yaml veya ```)\ntext = text.replace(/^\\s*```[a-z]*\\n/i, '').replace(/\\n```\\s*$/, '');\n// 2) Frontmatter başlangıcına kadar her şeyi at (---\\n satırı bulunana kadar)\nconst frontmatterStart = text.indexOf('---\\n');\nif (frontmatterStart > 0) {\n  text = text.slice(frontmatterStart);\n} else if (frontmatterStart < 0) {\n  // Hiç frontmatter yoksa olduğu gibi bırak (parse fail-safe)\n  text = rawText;\n}\n\nconst m = text.match(/^---\\n([\\s\\S]*?)\\n---\\n([\\s\\S]*)$/);\nconst frontmatter = m ? m[1] : '(parse failed)';\nconst body = m ? m[2] : text;\n\n// Title regex 3 senaryoyu sırayla dener: \"...\", '...', tırnaksız.\n// Apostrof title'ın parçasıysa (örn ChatGPT'nin) çift tırnak içinde sorun yok.\nlet titleMatch = frontmatter.match(/title:\\s*\"([^\"]+)\"/);\nif (!titleMatch) titleMatch = frontmatter.match(/title:\\s*'([^']+)'/);\nif (!titleMatch) titleMatch = frontmatter.match(/title:\\s*([^\\n]+)/);\nconst title = titleMatch ? titleMatch[1].trim() : '(unknown)';\n\nconst slug = title.toLowerCase()\n  .replace(/ı/g, 'i').replace(/ğ/g, 'g').replace(/ü/g, 'u')\n  .replace(/ş/g, 's').replace(/ö/g, 'o').replace(/ç/g, 'c')\n  .replace(/'/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .slice(0, 70);\n\nreturn [{\n  json: {\n    parsedTitle: title,\n    parsedSlug: slug,\n    parsedFrontmatter: frontmatter,\n    parsedBody: body,\n    bodyLength: body.length,\n    bodyWordCount: body.split(/\\s+/).filter(Boolean).length,\n    targetPath: `content/tr/${topicData.category}/${slug}.md`,\n    rawResponse: rawText,\n    cleanedText: text,\n    topicData\n  }\n}];"
      },
      "id": "parse-tr",
      "name": "Parse TR output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/samet-roibase/roibase-blog/main/prompts/translate.md",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-translate-prompt",
      "name": "Fetch translate prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "function unwrap(raw) { return (raw && raw.data !== undefined) ? raw.data : raw; }\nfunction toText(v) { return typeof v === 'string' ? v : JSON.stringify(v); }\n\nconst translatePromptText = toText(unwrap($('Fetch translate prompt').first().json));\nconst trData = $('Parse TR output').first().json;\nconst trRaw = trData.rawResponse;\n\nconst languages = [\n  { code: 'en', name: 'English' },\n  { code: 'de', name: 'Deutsch' },\n  { code: 'es', name: 'Español' },\n  { code: 'fr', name: 'Français' },\n  { code: 'it', name: 'Italiano' },\n  { code: 'ru', name: 'Русский' }\n];\n\nreturn languages.map(lang => {\n  const system = translatePromptText\n    .replace(/\\{\\{TARGET_LANG\\}\\}/g, lang.code)\n    .replace(/\\{\\{TARGET_LANG_NAME\\}\\}/g, lang.name);\n  return {\n    json: {\n      targetLang: lang.code,\n      targetLangName: lang.name,\n      system,\n      user: trRaw\n    }\n  };\n});"
      },
      "id": "build-translate-payloads",
      "name": "Build translate payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.user) }}\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "claude-translate",
      "name": "Claude — Translate (×6)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "function unwrapResp(raw) { return (raw && raw.data && typeof raw.data === 'object') ? raw.data : raw; }\n\nconst items = $input.all();\nconst payloadItems = $('Build translate payloads').all();\n\nconst parsed = items.map((item, idx) => {\n  const resp = unwrapResp(item.json);\n  const rawText = resp.content?.[0]?.text || JSON.stringify(resp);\n  const targetLang = payloadItems[idx]?.json?.targetLang || 'unknown';\n\n  // Defensive cleaning (aynı master parse mantığı)\n  let text = rawText;\n  text = text.replace(/^\\s*```[a-z]*\\n/i, '').replace(/\\n```\\s*$/, '');\n\n  // Extract SLUG: line\n  const slugMatch = text.match(/^SLUG:\\s*([a-z0-9-]+)/m);\n  const slug = slugMatch ? slugMatch[1] : `unknown-${targetLang}`;\n\n  // Strip SLUG line + everything before frontmatter\n  text = text.replace(/^SLUG:\\s*[a-z0-9-]+\\s*\\n/m, '');\n  const fmStart = text.indexOf('---\\n');\n  if (fmStart > 0) text = text.slice(fmStart);\n\n  const m = text.match(/^---\\n([\\s\\S]*?)\\n---\\n([\\s\\S]*)$/);\n  const frontmatter = m ? m[1] : '(parse failed)';\n  const body = m ? m[2] : text;\n\n  let titleMatch = frontmatter.match(/title:\\s*\"([^\"]+)\"/);\n  if (!titleMatch) titleMatch = frontmatter.match(/title:\\s*'([^']+)'/);\n  if (!titleMatch) titleMatch = frontmatter.match(/title:\\s*([^\\n]+)/);\n  const title = titleMatch ? titleMatch[1].trim() : '(unknown)';\n\n  const fullContent = `---\\n${frontmatter}\\n---\\n${body}`;\n\n  return {\n    json: {\n      lang: targetLang,\n      slug,\n      title,\n      frontmatter,\n      body,\n      fullContent,\n      bodyLength: body.length,\n      bodyWordCount: body.split(/\\s+/).filter(Boolean).length,\n      rawResponse: rawText\n    }\n  };\n});\n\nreturn parsed;"
      },
      "id": "parse-translations",
      "name": "Parse translations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const trData = $('Parse TR output').first().json;\nconst translations = $input.all().map(i => i.json);\nconst topicData = trData.topicData;\nconst category = topicData.category;\nconst i18nKey = topicData.i18nKey;\n\nconst files = [\n  {\n    lang: 'tr',\n    slug: trData.parsedSlug,\n    path: `content/tr/${category}/${trData.parsedSlug}.md`,\n    content: trData.rawResponse,\n    wordCount: trData.bodyWordCount\n  },\n  ...translations.map(t => ({\n    lang: t.lang,\n    slug: t.slug,\n    path: `content/${t.lang}/${category}/${t.slug}.md`,\n    content: t.fullContent,\n    wordCount: t.bodyWordCount\n  }))\n];\n\nconst summary = {\n  i18nKey,\n  category,\n  topicTitle: topicData.topic.title,\n  fileCount: files.length,\n  totalWords: files.reduce((sum, f) => sum + f.wordCount, 0),\n  files: files.map(f => ({ lang: f.lang, slug: f.slug, path: f.path, wordCount: f.wordCount })),\n  dryRun: true,\n  notice: 'GitHub commit henüz aktif değil — Faz B2da eklenecek'\n};\n\nreturn [{ json: { summary, files } }];"
      },
      "id": "aggregate-files",
      "name": "Aggregate all files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 9-file commit manifest: 7 makale + rotation state + topic-pool state\nconst agg = $input.first().json;\nconst trData = $('Parse TR output').first().json;\nconst pickCategoryData = $('Pick Category').first().json;\nconst pickTopicData = $('Pick Topic').first().json;\n\nfunction unwrap(raw) { return (raw && raw.data !== undefined) ? raw.data : raw; }\nfunction toObj(v) {\n  if (typeof v === 'string') { try { return JSON.parse(v); } catch { return {}; } }\n  return v;\n}\n\nconst poolRaw = $('Fetch topic pool').first().json;\nconst pool = toObj(unwrap(poolRaw));\n\n// Rotation güncelle\nconst rotation = pickCategoryData.rotation;\nconst nextIndex = pickCategoryData.nextIndex;\nconst nowIso = new Date().toISOString();\nconst usedTopic = pickTopicData.topic;\n\nconst newRotation = {\n  ...rotation,\n  lastIndex: nextIndex,\n  lastRunAt: nowIso,\n  history: [\n    ...(rotation.history || []),\n    { at: nowIso, category: pickCategoryData.category, topicId: usedTopic.id, i18nKey: pickTopicData.i18nKey }\n  ].slice(-50)  // son 50 run'ı tut, sınırsız büyümesin\n};\n\n// Topic-pool güncelle (kullanılan topic'in lastUsedAt'i)\nconst newPool = {\n  ...pool,\n  topics: (pool.topics || []).map(t =>\n    t.id === usedTopic.id ? { ...t, lastUsedAt: nowIso } : t\n  )\n};\n\nconst commitFiles = [\n  ...agg.files.map(f => ({ path: f.path, content: f.content })),\n  { path: 'scripts/category-rotation.json', content: JSON.stringify(newRotation, null, 2) + '\\n' },\n  { path: `scripts/topic-pool/${pickCategoryData.category}.json`, content: JSON.stringify(newPool, null, 2) + '\\n' }\n];\n\nconst commitMessage = `Auto: ${pickCategoryData.category} — ${trData.parsedTitle}\\n\\nTopic ID: ${usedTopic.id}\\ni18nKey: ${pickTopicData.i18nKey}\\nFiles: ${commitFiles.length} (${agg.files.length} articles + 2 metadata)`;\n\nreturn [{\n  json: {\n    files: commitFiles,\n    message: commitMessage,\n    fileCount: commitFiles.length,\n    summary: agg.summary\n  }\n}];"
      },
      "id": "build-commit-manifest",
      "name": "Build commit manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/samet-roibase/roibase-blog/git/refs/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "get-current-ref",
      "name": "Get current ref",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE-WITH-GITHUB-CRED-ID",
          "name": "GitHub Roibase Blog"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/samet-roibase/roibase-blog/git/commits/{{ $json.object.sha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "get-current-commit",
      "name": "Get current commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE-WITH-GITHUB-CRED-ID",
          "name": "GitHub Roibase Blog"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Manifest'teki dosyaları blob create için ayrı item'lara böl\nconst manifest = $('Build commit manifest').first().json;\nreturn manifest.files.map(f => ({\n  json: {\n    path: f.path,\n    content: f.content,\n    contentBase64: Buffer.from(f.content, 'utf-8').toString('base64')\n  }\n}));"
      },
      "id": "split-files-for-blobs",
      "name": "Split files for blobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/samet-roibase/roibase-blog/git/blobs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.contentBase64) }},\n  \"encoding\": \"base64\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "create-blob",
      "name": "Create blob (×N)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE-WITH-GITHUB-CRED-ID",
          "name": "GitHub Roibase Blog"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Blob SHA'larını dosya path'leriyle eşleştir, tree array'i kur\nconst blobItems = $input.all();\nconst splitItems = $('Split files for blobs').all();\n\nconst tree = blobItems.map((item, idx) => {\n  const blobResp = (item.json && item.json.data && typeof item.json.data === 'object') ? item.json.data : item.json;\n  const path = splitItems[idx].json.path;\n  return {\n    path,\n    mode: '100644',\n    type: 'blob',\n    sha: blobResp.sha\n  };\n});\n\nconst baseTreeSha = $('Get current commit').first().json.tree.sha;\n\nreturn [{ json: { base_tree: baseTreeSha, tree } }];"
      },
      "id": "build-tree-payload",
      "name": "Build tree payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/samet-roibase/roibase-blog/git/trees",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"base_tree\": {{ JSON.stringify($json.base_tree) }},\n  \"tree\": {{ JSON.stringify($json.tree) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "create-tree",
      "name": "Create tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE-WITH-GITHUB-CRED-ID",
          "name": "GitHub Roibase Blog"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/samet-roibase/roibase-blog/git/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($('Build commit manifest').first().json.message) }},\n  \"tree\": {{ JSON.stringify($json.sha) }},\n  \"parents\": [{{ JSON.stringify($('Get current ref').first().json.object.sha) }}]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "create-commit",
      "name": "Create commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4840,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE-WITH-GITHUB-CRED-ID",
          "name": "GitHub Roibase Blog"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.github.com/repos/samet-roibase/roibase-blog/git/refs/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sha\": {{ JSON.stringify($json.sha) }},\n  \"force\": false\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "update-ref",
      "name": "Update main ref",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE-WITH-GITHUB-CRED-ID",
          "name": "GitHub Roibase Blog"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Final summary: commit hash + push tamamlandı\nconst refResp = $input.first().json;\nconst manifest = $('Build commit manifest').first().json;\nconst commitData = $('Create commit').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    commitSha: commitData.sha,\n    commitUrl: commitData.html_url,\n    refUpdated: refResp.ref || refResp.object?.sha,\n    fileCount: manifest.fileCount,\n    message: manifest.message.split('\\n')[0],\n    summary: manifest.summary,\n    completedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "final-summary",
      "name": "Final summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5240,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch rotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (every 8h)": {
      "main": [
        [
          {
            "node": "Fetch rotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch rotation": {
      "main": [
        [
          {
            "node": "Pick Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Category": {
      "main": [
        [
          {
            "node": "Fetch topic pool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch topic pool": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Fetch master prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch master prompt": {
      "main": [
        [
          {
            "node": "Fetch category prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch category prompt": {
      "main": [
        [
          {
            "node": "Fetch internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch internal links": {
      "main": [
        [
          {
            "node": "Build Claude prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude prompt": {
      "main": [
        [
          {
            "node": "Claude — TR master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — TR master": {
      "main": [
        [
          {
            "node": "Parse TR output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse TR output": {
      "main": [
        [
          {
            "node": "Fetch translate prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch translate prompt": {
      "main": [
        [
          {
            "node": "Build translate payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build translate payloads": {
      "main": [
        [
          {
            "node": "Claude — Translate (×6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Translate (×6)": {
      "main": [
        [
          {
            "node": "Parse translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse translations": {
      "main": [
        [
          {
            "node": "Aggregate all files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate all files": {
      "main": [
        [
          {
            "node": "Build commit manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build commit manifest": {
      "main": [
        [
          {
            "node": "Get current ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current ref": {
      "main": [
        [
          {
            "node": "Get current commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current commit": {
      "main": [
        [
          {
            "node": "Split files for blobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split files for blobs": {
      "main": [
        [
          {
            "node": "Create blob (×N)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blob (×N)": {
      "main": [
        [
          {
            "node": "Build tree payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build tree payload": {
      "main": [
        [
          {
            "node": "Create tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create tree": {
      "main": [
        [
          {
            "node": "Create commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create commit": {
      "main": [
        [
          {
            "node": "Update main ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update main ref": {
      "main": [
        [
          {
            "node": "Final summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
